@page
@model Admin.Categories.AddOrEditModel
@{
}


<div class="card w-50" style="margin:auto">
	<div class="card-header bg-info text-white" style="font-weight:bold;">
		<i class="bi bi-plus-square"></i> New Category
	</div>

	<form method="post">
		<div class="card-body">
			<div class="mb-3">
				<input  type="hidden" asp-for="categoryViewModel.CategoryId"   />

				<label>@Html.LabelFor(c => c.categoryViewModel.Name)</label>
				<input asp-for="categoryViewModel.Name" type="text" class="form-control" />

				<span asp-validation-for="categoryViewModel.Name" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label> @Html.LabelFor(c => c.categoryViewModel.OrderDispay)</label>
				<input asp-for="categoryViewModel.OrderDispay" type="text" class="form-control" />
				<span asp-validation-for="categoryViewModel.OrderDispay" class="text-danger"></span>
			</div>
		</div>
		<div class="card-footer text-muted">

			@if (Model.categoryViewModel.CategoryId == null)
			{
				<button type="submit" class="btn btn-primary"> <i class="bi bi-check-circle" style="color:red"></i> Save</button>
			}
			else
			{
				<button type="submit" class="btn btn-primary"> <i class="bi bi-check-circle" style="color:green"></i> update</button>
			}

		</div>

	</form>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}